.table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #0c0b0b;
}

.table th,
.table td {
    border: 1px solid #020101;
    padding: 10px;
    text-align: center;
}

.table thead {
    background-color: #1d1818;
    font-weight: bold;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: rgb(218, 212, 212);
}